auto-install-peers = true
public-hoist-pattern[]=*storybook*

//registry.npmjs.org/:_authToken=${process.env.NPM_TOKEN}

# registry=https://pkgs.dev.azure.com/tine-sa/_packaging/digitale-flater/npm/registry/

# always-auth=true